In [8]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import tensorflow as tf
import re

In [3]:
reviews_df=pd.read_csv('data-yelp/yelp_review.csv')

In [4]:
reviews_df.describe()

              stars        useful         funny          cool
count  5.261668e+06  5.261668e+06  5.261668e+06  5.261668e+06
mean   3.727739e+00  1.385085e+00  5.091961e-01  5.860917e-01
std    1.433593e+00  4.528727e+00  2.686168e+00  2.233706e+00
min    1.000000e+00 -1.000000e+00  0.000000e+00 -1.000000e+00
25%    3.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
50%    4.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
75%    5.000000e+00  2.000000e+00  0.000000e+00  1.000000e+00
max    5.000000e+00  3.364000e+03  1.481000e+03  1.105000e+03

In [5]:
reviews_df.keys()

Index(['review_id', 'user_id', 'business_id', 'stars', 'date', 'text',
       'useful', 'funny', 'cool'],
      dtype='object')

In [88]:
str=reviews_df['text'][0]

In [98]:
spliter=re.compile('[.\'\n0-9\:]|It\'s| and | the | was | with | but | been | since | still ')

In [90]:
str

"Super simple place but amazing nonetheless. It's been around since the 30's and they still serve the same thing they started with: a bologna and salami sandwich with mustard. \n\nStaff was very helpful and friendly."

In [91]:
sample=spliter.sub(' ',str)

In [92]:
sample

'Super simple place amazing nonetheless    around the    s they serve the same thing they started with  a bologna salami sandwich mustard    Staff very helpful friendly '

In [93]:
sample.split()

['Super',
 'simple',
 'place',
 'amazing',
 'nonetheless',
 'around',
 'the',
 's',
 'they',
 'serve',
 'the',
 'same',
 'thing',
 'they',
 'started',
 'with',
 'a',
 'bologna',
 'salami',
 'sandwich',
 'mustard',
 'Staff',
 'very',
 'helpful',
 'friendly']

In [94]:
re_sa=re.compile(' a | s ')
sample=re_sa.sub(' ',sample)

In [95]:
sample

'Super simple place amazing nonetheless    around the    they serve the same thing they started with  bologna salami sandwich mustard    Staff very helpful friendly '

In [96]:
sample_list=sample.split()

In [97]:
sample_list

['Super',
 'simple',
 'place',
 'amazing',
 'nonetheless',
 'around',
 'the',
 'they',
 'serve',
 'the',
 'same',
 'thing',
 'they',
 'started',
 'with',
 'bologna',
 'salami',
 'sandwich',
 'mustard',
 'Staff',
 'very',
 'helpful',
 'friendly']